
<div class="trashPage">

  <div class="noNotes" *ngIf="!getTrashNotes().length">
    <mat-icon class="noNotesIco">delete_outline</mat-icon>
    <span class="noNotesText">Delete outline</span>
  </div>

  <div class="gridHeader" *ngIf="getTrashNotes().length">
    <h3 class="gridTitle">Dữ liệu sẽ biến mất trong vòng 7 ngày</h3>
    <span class="clearRef" (click)="clearConfirmDialogue()">Clear all</span>
  </div>

  <div class="unnoticedGrid">
    <app-grid-layout [dragEnabled]='false' [notes]='getTrashNotes()'></app-grid-layout>
  </div>

</div>
